
<h3>{{ titleComicsComponents }}</h3>

<div *ngIf="parametro">
  <button (click)="volerAtras()">Atrás</button>
  <p>Parámetro de la url: {{parametro}}</p>
  <ul>
      <li>
        <div>{{parametro}} - {{comics[parametro].nombre}}</div>
        <div>{{comics[parametro].editorial | uppercase }}</div>
        <div>Fecha de publicación: {{comics[parametro].fechaPublicacion | date:'dd/MM/yyyy' }} </div>
        <div *ngIf="comics[parametro].isok == true"> <b>Está disponible</b></div>
        <div *ngIf="comics[parametro].isok == false"> <b>Nanai</b></div>
        <div>{{comics[parametro].likes}} Likes</div>
        <button (click)="gestionarLike(parametro, true)">:)</button>
        <button (click)="gestionarLike(parametro, false)">:(</button>
        <div> {{ 5 | multiply: 17 }} </div>
        <br>
      </li>
    </ul>
</div>

<div *ngIf="!parametro">
  <hr>
  <h3>Comics list: ngFor, ngIf, data binding, event</h3>
  Search: <input type="text" [(ngModel)]="filterText">
  <ul>
    <li @fade *ngFor="let comic of comics | filter:filterText; let i = index; ">
      <div>{{i}} - {{comic.nombre}}</div>
      <div>Comic ID: {{comic.id}}</div>
      <button (click)="verDetalles(comic.id)"> Ver detalles</button>
      <br>
      <br>
    </li>
  </ul>

  <hr>
  <h3>Two way data binding, ngStyle</h3>
  <input type="text" [(ngModel)]="color_seleccionado" >
  <div [ngStyle]="{
    'background': color_seleccionado,
    'height': '24px',
    'width': '50px',
    'vertical-align': 'bottom',
    'display': 'inline-block'
  }"></div>
  <button (click)="imprimirColorSelec()">Imprimir en consola color actual</button>
  
  <h3>ngCLass: Agregar clases de manera dinámica</h3>
  <p [ngClass]="{
    fondoAzulClass: color_seleccionado == 'blue',
    fondoVerdeClass: color_seleccionado == 'green'
  }">
    Color seleccionado: {{color_seleccionado}}  
    <br> 
    *Si el color seleccionado es 'blue' o 'green' el fondo de este texto cambia. 
  </p>
  
  <hr>
  <h3>ngSwitch</h3>
  <ul [ngSwitch]="myColor">
    <li *ngSwitchCase="'red'" [ngStyle]="{color:myColor}">Es de color rojo</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{color:myColor}">Es de color azul</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{color:myColor}">Es de color verde</li>
  </ul>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

