
@import "styles/general/reset_estilos";
@import "styles/general/normalize";
@import "styles/general/fuentes";

body {
    width: 90%;
    margin: 0 auto;
}

.classActive {
    border-bottom: 5px solid black;
}