
<h3>{{ titleComicsComponents }}</h3>

<hr>
<h3>Two way data binding, ngStyle</h3>
<input type="text" [(ngModel)]="color_seleccionado" >
<div [ngStyle]="{
  'background': color_seleccionado,
  'height': '24px',
  'width': '50px',
  'vertical-align': 'bottom',
  'display': 'inline-block'
}"></div>
<button (click)="imprimirColorSelec()">Imprimir en consola color actual</button>

<h3>ngCLass: Agregar clases de manera dinámica</h3>
<p [ngClass]="{
  fondoAzulClass: color_seleccionado == 'blue',
  fondoVerdeClass: color_seleccionado == 'green'
}">
  Color seleccionado: {{color_seleccionado}}  
  <br> 
  *Si el color seleccionado es 'blue' o 'green' el fondo de este texto cambia. 
</p>

<hr>
<h3>ngSwitch</h3>
<ul [ngSwitch]="myColor">
  <li *ngSwitchCase="'red'" [ngStyle]="{color:myColor}">Es de color rojo</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{color:myColor}">Es de color azul</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{color:myColor}">Es de color verde</li>
</ul>


<hr>
<h3>Comics list: ngFor, ngIf, data binding, event</h3>
<ul>
  <li *ngFor="let comic of comics; let i = index">
    <div>{{i}} - {{comic.nombre}}</div>
    <div>{{comic.editorial}}, {{comic.fechaPublicacion}} </div>
    <div *ngIf="comic.isok == true"> <b>Está disponible</b></div>
    <div *ngIf="comic.isok == false"> <b>Nanai</b></div>
    <div>{{comic.likes}} Likes</div>
    <button (click)="gestionarLike(i, true)">:)</button>
    <button (click)="gestionarLike(i, false)">:(</button>
    <br>
  </li>
</ul>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

